include templates/document
.container.mx-auto
  .flex.items-center.justify-center.bg-gray-50.py-12.px-4(class='sm:px-6 lg:px-8')
    .max-w-md.w-full.space-y-8
      div
        img.mx-auto.h-12.w-auto(src='/images/infinity.svg' alt='Simple CI')
        h2.mt-6.text-center.text-3xl.font-extrabold.text-gray-900
          | Simple CI implementation
        p.mt-2.text-center.text-sm.text-gray-600
          | Enter repository address, commit hash and build command
        include templates/connections
        include templates/build-form
  include templates/build-list

script.
  const socket = io('ws://localhost:#{port}');
  socket.emit('views:connections')

  socket.on('views:connections', (count) => {
    renderConnections(count)
  });

  function renderConnections(count) {
    const connectionsElement = document.querySelector('.connections');
    connectionsElement.textContent = ''

    for (let i = 0; i < count; i++) {
      const connectElement = document.createElement('li');
      connectElement.classList = 'bg-green-400 rounded-full w-2 h-2'
      connectionsElement.append(connectElement);
    }
  }

